<h2>Todo Page</h2>
<div class="wrapper">
  <div *ngFor="let item of todoList">
    <ng-container *ngIf="!isEditing(item.id); else editMode">
      {{ item.text }}
      <button (click)="startEditing(item.id)">Edit</button>
      <button (click)="deleteItem(item.id)">Delete</button>
    </ng-container>
    <ng-template #editMode>
      <input type="text" [(ngModel)]="item.text" width="" />
      <button (click)="stopEditing()">Save</button>
      <button (click)="stopEditing()">Cancel</button>
    </ng-template>
  </div>
</div>
